<!doctype html>
{% load bootstrap5 %}
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  </head>
  <body>
    <div class="container my-5">
      <h1 class="text-center">{% block heading %}{% endblock %}</h1>

      {% if messages %}
        {% bootstrap_messages %}
      {% endif %}

      {% block content %}{% endblock %}
    </div>
  </body>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</html>
