{% extends "survey/base.html" %}
{% load bootstrap5 %}
{% load markdownify %}

{% block title %}Survey: {{ survey.name }}{% endblock %}
{% block heading %}{{ survey.name }}{% endblock %}

{% block content %}
  <div class="row justify-content-md-center">
  <div class="col col-sm-10 col-md-8 col-lg-6 col-xl-5">
  {% if survey.text_enter %}
    {{ survey.text_enter | markdownify }}
  {% else %}
    <p>A key is required to enter this survey.</p>
  {% endif %}

  <form method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
        Enter survey
      </button>
    {% endbuttons %}
  </form>
  </div>
  </div>
{% endblock %}
