{% extends "survey/base.html" %}
{% load markdownify %}

{% block title %}Survey: {{ survey.name }}{% endblock %}
{% block heading %}{{ survey.name }}{% endblock %}

{% block content %}
  <div class="row justify-content-md-center mt-5">
    <div class="col col-sm-10 col-md-8 col-lg-6 col-xl-5">
      {% if survey.text_submitted %}
        {{ survey.text_submitted | markdownify }}
      {% else %}
        <p>Thank you for submitting your answers.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
