{% extends "survey/base.html" %}

{% block title %}Surveys{% endblock %}

{% block content %}
  <h1>Surveys</h1>

  {% if survey_list %}
    <table>
      <thead>
        <th>Name</th><th>Start date</th><th>End date</th>
      </thead>
      <tbody>
        {% for survey in survey_list %}
          <tr>
            <th><a href="{% url 'survey:survey-enter' survey.slug %}">{{ survey.name }}</a></th>
            <td>{{ survey.start_date }}</td>
            <td>{{ survey.end_date|default:"Unspecified"}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no surveys.</p>
  {% endif %}
{% endblock %}
