@media only screen and (min-width: 1200px) {
    .form-row .markdownx {
        display: flex;
    }

    .markdownx textarea {
        flex: 40%;
        margin-right: 0.5em;
    }

    .markdownx .markdownx-preview {
        flex: 60%;
    }
}
