{% include "survey/question/question.html" %}

<table class="table table-hover table-sm caption-top">
  {% if question.selection_limit > 1 %}
    <caption>You may select up to {{ question.selection_limit }} options for each row.</caption>
  {% endif %}
  <thead>
    <tr>
      <td></td>
      {% for option in options %}
        <td class="text-center">
          {{ option.label }}
          {% if option.link %}(<a href="{{ option.link }}" rel="nofollow" target="_blank">info</a>){% endif %}
        </td>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for choice in choices.values %}
      <tr>
        <td class="align-middle">
          <span>
            {{ choice.model.label }}
            {% if choice.model.link %}
              (<a href="{{ choice.model.link }}" rel="nofollow" target="_blank">info</a>)
            {% endif %}
          </span>

          {% if choice.error %}
            <ul class="invalid-feedback list-unstyled d-block" id="invalid-{{ data_key }}">
              {% for error in choice.error %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </td>
        {% for option in options %}
          <td class="text-center">
            <input
              class="form-check-input fs-4 {% if choice.error %} is-invalid{% endif %}"
              type="{% if question.selection_limit == 1 %}radio{% else %}checkbox{% endif %}"
              name="{{ choice.data_key }}"
              value="{{ option.slug }}"
              {% if option.slug in choice.values %}checked{% endif %}
              {% if choice.error %}aria-describedby="invalid-{{ data_key }}"{% endif %}
            />
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
