{% include "survey/question/question.html" %}

<textarea
  class="form-control{% if widget.error %} is-invalid{% endif %}"
  name="{{ data_key }}"
  maxlength="{{ question.max_length|stringformat:'d' }}"
  rows="10"
  {% if widget.error %}aria-describedby="invalid-{{ data_key }}"{% endif %}
>{{ value }}</textarea>

{% if widget.error %}
  <div id="invalid-{{ data_key }}" class="invalid-feedback">
    <ul class="list-unstyled">
      {% for error in widget.error %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
