{% include "survey/question/question.html" %}

{% if question.selection_limit > 1 %}
  <p class="text-muted">You may select up to {{ question.selection_limit }} options.</p>
{% endif %}

{% for option in options %}
  <div class="form-check">
    <input
      class="form-check-input{% if choice.error %} is-invalid{% endif %}"
      type="{% if question.selection_limit == 1 %}radio{% else %}checkbox{% endif %}"
      name="{{ data_key }}"
      id="input-{{ data_key }}-{{ forloop.counter }}"
      value="{{ option.slug }}"
      {% if option.slug in values %}checked{% endif %}
      {% if choice.error %}aria-describedby="invalid-{{ data_key }}"{% endif %}
    />
    <label class="form-check-label" for="input-{{ data_key }}-{{ forloop.counter }}">
      {{ option.label }}
      {% if option.link %}(<a href="{{ option.link }}" rel="nofollow" target="_blank">info</a>){% endif %}
    </label>
  </div>
{% endfor %}

{% if choice.error %}
  <div id="invalid-{{ data_key }}" class="invalid-feedback d-block">
    <ul class="list-unstyled">
      {% for error in choice.error %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
