{% load markdownify %}

<h3 class="card-title">
  {{ question.label }}
  {% if question.required %}
    <span class="badge rounded-pill bg-secondary align-middle" style="font-size: 40%">required</span>
  {% endif %}
</h3>
{% if question.description %}{{ question.description|markdownify }}{% endif %}
