{% include "survey/question/question.html" %}

<input
  class="form-control{% if widget.error %} is-invalid{% endif %}"
  type="text"
  name="{{ data_key }}"
  maxlength="{{ question.max_length|stringformat:'d' }}"
  value="{{ value }}"
  {% if widget.error %}aria-describedby="invalid-{{ data_key }}"{% endif %}
/>

{% if widget.error %}
  <div id="invalid-{{ data_key }}" class="invalid-feedback">
    <ul class="list-unstyled">
      {% for error in widget.error %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
