{% load markdownify %}

{% if survey.description %}{{ survey.description|markdownify }}{% endif %}

{% if expiration_date %}
  <div class="alert alert-secondary" role="alert">
    Everytime you click the <em>Save responses</em> button at the end of each section,
    your responses are saved into a temporary session.
    You may submit final responses anytime until your session expires on <em>{{ expiration_date }}</em>
  </div>
{% endif %}

{% if has_error %}
  <div class="alert alert-danger" role="alert">
    There are a few errors in your responses. Please correct them and submit the form again.
  </div>
{% endif %}

{% for section in sections.values %}
  {{ section }}
{% endfor %}

<div>
  <button type="submit" class="btn btn-primary btn-lg" name="submit" value="submit" formaction="#">
    Submit final survey responses
  </button>
</div>
