{% load markdownify %}

<div class="card my-5" id="section-{{ section.slug }}">
  <h2 class="card-header">{{ section.name }}</h2>
  {% if not questions or section.description or has_error %}
    <div class="card-body">
      {% if section.description %}
        {{ section.description|markdownify }}
      {% endif %}
      {% if not questions %}
        <p class="text-muted">There are no questions in this section.</p>
      {% endif %}
      {% if has_error %}
        <p class="text-danger">There are a few errors in this section. Please correct them and submit the form again.</p>
      {% endif %}
    </div>
  {% endif %}

  {% for question in questions.values %}
    <div class="card-body">
      {{ question }}
    </div>
  {% endfor %}

  <div class="card-footer">
    <button type="submit" name="save" value="save" formaction="#section-{{ section.slug }}" class="btn btn-outline-dark">
      Save responses
    </button>
    <span class="text-muted d-inline-block ms-5">
      Your responses will be saved into a temporary session and you may submit final responses
      anytime until the session expires.
    </span>
  </div>
</div>
